Background reading: https://www.oreilly.com/learning/handling-missing-data

inspired by https://www.dataquest.io/blog/programming-best-practices-for-data-science/

data source: https://www.lendingclub.com/info/download-data.action

In [1]:
import time
import pandas
print(pandas.__version__)

0.23.4

In [2]:
start_time = time.time()
loans_2007 = pandas.read_csv('LoanStats3a.csv', 
                             skiprows=1, low_memory=False)
print(round(time.time() - start_time,2),'seconds')

37.25 seconds

In [3]:
loans_2007.shape

(42538, 145)

In [4]:
pandas.options.display.max_rows = 999

In [5]:
loans_2007.head(4).T

,0,1,2,3
id,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN
loan_amnt,5000,2500,2400,10000
funded_amnt,5000,2500,2400,10000
funded_amnt_inv,4975,2500,2400,10000
term,36 months,60 months,36 months,36 months
int_rate,10.65%,15.27%,15.96%,13.49%
installment,162.87,59.83,84.33,339.31
grade,B,C,C,C
sub_grade,B2,C4,C5,C1
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD
emp_length,10+ years,< 1 year,10+ years,10+ years
home_ownership,RENT,RENT,RENT,RENT
annual_inc,24000,30000,12252,49200
verification_status,Verified,Source Verified,Not Verified,Source Verified
issue_d,Dec-2011,Dec-2011,Dec-2011,Dec-2011
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid
pymnt_plan,n,n,n,n
url,NaN,NaN,NaN,NaN
desc,Borrower added on 12/22/11 > I need to upgra...,Borrower added on 12/22/11 > I plan to use t...,NaN,Borrower added on 12/21/11 > to pay for prop...
purpose,credit_card,car,small_business,other
title,Computer,bike,real estate business,personel
zip_code,860xx,309xx,606xx,917xx
addr_state,AZ,GA,IL,CA
dti,27.65,1,8.72,20
delinq_2yrs,0,0,0,0
earliest_cr_line,Jan-1985,Apr-1999,Nov-2001,Feb-1996
inq_last_6mths,1,5,2,1
mths_since_last_delinq,NaN,NaN,NaN,35
mths_since_last_record,NaN,NaN,NaN,NaN
open_acc,3,3,2,10
pub_rec,0,0,0,0
revol_bal,13648,1687,2956,5598
revol_util,83.7%,9.4%,98.5%,21%
total_acc,9,4,10,37
initial_list_status,f,f,f,f
out_prncp,0,0,0,0
out_prncp_inv,0,0,0,0
total_pymnt,5863.16,1014.53,3005.67,12231.9
total_pymnt_inv,5833.84,1014.53,3005.67,12231.9
total_rec_prncp,5000,456.46,2400,10000
total_rec_int,863.16,435.17,605.67,2214.92
total_rec_late_fee,0,0,0,16.97
recoveries,0,122.9,0,0
collection_recovery_fee,0,1.11,0,0
last_pymnt_d,Jan-2015,Apr-2013,Jun-2014,Jan-2015
last_pymnt_amnt,171.62,119.66,649.91,357.48
next_pymnt_d,NaN,NaN,NaN,NaN
last_credit_pull_d,Dec-2018,Oct-2016,Jun-2017,Apr-2016
collections_12_mths_ex_med,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN
policy_code,1,1,1,1
application_type,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0
tot_coll_amt,NaN,NaN,NaN,NaN
tot_cur_bal,NaN,NaN,NaN,NaN
open_acc_6m,NaN,NaN,NaN,NaN
open_act_il,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN
total_rev_hi_lim,NaN,NaN,NaN,NaN
inq_fi,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN
acc_open_past_24mths,NaN,NaN,NaN,NaN
avg_cur_bal,NaN,NaN,NaN,NaN
bc_open_to_buy,NaN,NaN,NaN,NaN
bc_util,NaN,NaN,NaN,NaN
chargeoff_within_12_mths,0,0,0,0
delinq_amnt,0,0,0,0
mo_sin_old_il_acct,NaN,NaN,NaN,NaN
mo_sin_old_rev_tl_op,NaN,NaN,NaN,NaN
mo_sin_rcnt_rev_tl_op,NaN,NaN,NaN,NaN
mo_sin_rcnt_tl,NaN,NaN,NaN,NaN
mort_acc,NaN,NaN,NaN,NaN
mths_since_recent_bc,NaN,NaN,NaN,NaN
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN
mths_since_recent_inq,NaN,NaN,NaN,NaN
mths_since_recent_revol_delinq,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,NaN,NaN,NaN,NaN
num_actv_bc_tl,NaN,NaN,NaN,NaN
num_actv_rev_tl,NaN,NaN,NaN,NaN
num_bc_sats,NaN,NaN,NaN,NaN
num_bc_tl,NaN,NaN,NaN,NaN
num_il_tl,NaN,NaN,NaN,NaN
num_op_rev_tl,NaN,NaN,NaN,NaN
num_rev_accts,NaN,NaN,NaN,NaN
num_rev_tl_bal_gt_0,NaN,NaN,NaN,NaN
num_sats,NaN,NaN,NaN,NaN
num_tl_120dpd_2m,NaN,NaN,NaN,NaN
num_tl_30dpd,NaN,NaN,NaN,NaN
num_tl_90g_dpd_24m,NaN,NaN,NaN,NaN
num_tl_op_past_12m,NaN,NaN,NaN,NaN
pct_tl_nvr_dlq,NaN,NaN,NaN,NaN
percent_bc_gt_75,NaN,NaN,NaN,NaN
pub_rec_bankruptcies,0,0,0,0
tax_liens,0,0,0,0
tot_hi_cred_lim,NaN,NaN,NaN,NaN
total_bal_ex_mort,NaN,NaN,NaN,NaN
total_bc_limit,NaN,NaN,NaN,NaN
total_il_high_credit_limit,NaN,NaN,NaN,NaN
revol_bal_joint,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN
disbursement_method,Cash,Cash,Cash,Cash
debt_settlement_flag,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN

## Empty columns

are there columns that have no values?

Start by using `.isnull()` which returns a boolean per entry

In [6]:
loans_2007.isnull().head()  #https://www.geeksforgeeks.org/python-pandas-series-isnull/

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,True,True,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,True,True,True,True
1,True,True,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,True,True,True,True
2,True,True,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,True,True,True,True
3,True,True,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,True,True,True,True
4,True,True,False,False,False,False,False,False,False,False,...,True,True,False,False,True,True,True,True,True,True

Count how many "True" values exist per column:

In [7]:
loans_2007.isnull().sum()

id                                            42535
member_id                                     42538
loan_amnt                                         3
funded_amnt                                       3
funded_amnt_inv                                   3
term                                              3
int_rate                                          3
installment                                       3
grade                                             3
sub_grade                                         3
emp_title                                      2629
emp_length                                     1115
home_ownership                                    3
annual_inc                                        7
verification_status                               3
issue_d                                           3
loan_status                                       3
pymnt_plan                                        3
url                                           42538
desc                                          13296
purpose                                           3
title                                            16
zip_code                                          3
addr_state                                        3
dti                                               3
delinq_2yrs                                      32
earliest_cr_line                                 32
inq_last_6mths                                   32
mths_since_last_delinq                        26929
mths_since_last_record                        38887
open_acc                                         32
pub_rec                                          32
revol_bal                                         3
revol_util                                       93
total_acc                                        32
initial_list_status                               3
out_prncp                                         3
out_prncp_inv                                     3
total_pymnt                                       3
total_pymnt_inv                                   3
total_rec_prncp                                   3
total_rec_int                                     3
total_rec_late_fee                                3
recoveries                                        3
collection_recovery_fee                           3
last_pymnt_d                                     86
last_pymnt_amnt                                   3
next_pymnt_d                                  39789
last_credit_pull_d                                7
collections_12_mths_ex_med                      148
mths_since_last_major_derog                   42538
policy_code                                       3
application_type                                  3
annual_inc_joint                              42538
dti_joint                                     42538
verification_status_joint                     42538
acc_now_delinq                                   32
tot_coll_amt                                  42538
tot_cur_bal                                   42538
open_acc_6m                                   42538
open_act_il                                   42538
open_il_12m                                   42538
open_il_24m                                   42538
mths_since_rcnt_il                            42538
total_bal_il                                  42538
il_util                                       42538
open_rv_12m                                   42538
open_rv_24m                                   42538
max_bal_bc                                    42538
all_util                                      42538
total_rev_hi_lim                              42538
inq_fi                                        42538
total_cu_tl                                   42538
inq_last_12m                                  42538
acc_open_past_24mths                          42538
avg_cur_bal                                   42538
bc_open_to_buy                                42538
bc_util                                       42538
chargeoff_within_12_mths                        148
delinq_amnt                                      32
mo_sin_old_il_acct                            42538
mo_sin_old_rev_tl_op                          42538
mo_sin_rcnt_rev_tl_op                         42538
mo_sin_rcnt_tl                                42538
mort_acc                                      42538
mths_since_recent_bc                          42538
mths_since_recent_bc_dlq                      42538
mths_since_recent_inq                         42538
mths_since_recent_revol_delinq                42538
num_accts_ever_120_pd                         42538
num_actv_bc_tl                                42538
num_actv_rev_tl                               42538
num_bc_sats                                   42538
num_bc_tl                                     42538
num_il_tl                                     42538
num_op_rev_tl                                 42538
num_rev_accts                                 42538
num_rev_tl_bal_gt_0                           42538
num_sats                                      42538
num_tl_120dpd_2m                              42538
num_tl_30dpd                                  42538
num_tl_90g_dpd_24m                            42538
num_tl_op_past_12m                            42538
pct_tl_nvr_dlq                                42538
percent_bc_gt_75                              42538
pub_rec_bankruptcies                           1368
tax_liens                                       108
tot_hi_cred_lim                               42538
total_bal_ex_mort                             42538
total_bc_limit                                42538
total_il_high_credit_limit                    42538
revol_bal_joint                               42538
sec_app_earliest_cr_line                      42538
sec_app_inq_last_6mths                        42538
sec_app_mort_acc                              42538
sec_app_open_acc                              42538
sec_app_revol_util                            42538
sec_app_open_act_il                           42538
sec_app_num_rev_accts                         42538
sec_app_chargeoff_within_12_mths              42538
sec_app_collections_12_mths_ex_med            42538
sec_app_mths_since_last_major_derog           42538
hardship_flag                                     3
hardship_type                                 42538
hardship_reason                               42538
hardship_status                               42538
deferral_term                                 42538
hardship_amount                               42538
hardship_start_date                           42538
hardship_end_date                             42538
payment_plan_start_date                       42538
hardship_length                               42538
hardship_dpd                                  42538
hardship_loan_status                          42538
orig_projected_additional_accrued_interest    42538
hardship_payoff_balance_amount                42538
hardship_last_payment_amount                  42538
disbursement_method                               3
debt_settlement_flag                              3
debt_settlement_flag_date                     42378
settlement_status                             42378
settlement_date                               42378
settlement_amount                             42378
settlement_percentage                         42378
settlement_term                               42378
dtype: int64

As a reminder, how many rows are there?

In [8]:
loans_2007.shape[0]

42538

So one way to see if the entire column is emtpy would be to compare the number of NaNs

In [9]:
loans_2007.isnull().sum()==loans_2007.shape[0]

id                                            False
member_id                                      True
loan_amnt                                     False
funded_amnt                                   False
funded_amnt_inv                               False
term                                          False
int_rate                                      False
installment                                   False
grade                                         False
sub_grade                                     False
emp_title                                     False
emp_length                                    False
home_ownership                                False
annual_inc                                    False
verification_status                           False
issue_d                                       False
loan_status                                   False
pymnt_plan                                    False
url                                            True
desc                                          False
purpose                                       False
title                                         False
zip_code                                      False
addr_state                                    False
dti                                           False
delinq_2yrs                                   False
earliest_cr_line                              False
inq_last_6mths                                False
mths_since_last_delinq                        False
mths_since_last_record                        False
open_acc                                      False
pub_rec                                       False
revol_bal                                     False
revol_util                                    False
total_acc                                     False
initial_list_status                           False
out_prncp                                     False
out_prncp_inv                                 False
total_pymnt                                   False
total_pymnt_inv                               False
total_rec_prncp                               False
total_rec_int                                 False
total_rec_late_fee                            False
recoveries                                    False
collection_recovery_fee                       False
last_pymnt_d                                  False
last_pymnt_amnt                               False
next_pymnt_d                                  False
last_credit_pull_d                            False
collections_12_mths_ex_med                    False
mths_since_last_major_derog                    True
policy_code                                   False
application_type                              False
annual_inc_joint                               True
dti_joint                                      True
verification_status_joint                      True
acc_now_delinq                                False
tot_coll_amt                                   True
tot_cur_bal                                    True
open_acc_6m                                    True
open_act_il                                    True
open_il_12m                                    True
open_il_24m                                    True
mths_since_rcnt_il                             True
total_bal_il                                   True
il_util                                        True
open_rv_12m                                    True
open_rv_24m                                    True
max_bal_bc                                     True
all_util                                       True
total_rev_hi_lim                               True
inq_fi                                         True
total_cu_tl                                    True
inq_last_12m                                   True
acc_open_past_24mths                           True
avg_cur_bal                                    True
bc_open_to_buy                                 True
bc_util                                        True
chargeoff_within_12_mths                      False
delinq_amnt                                   False
mo_sin_old_il_acct                             True
mo_sin_old_rev_tl_op                           True
mo_sin_rcnt_rev_tl_op                          True
mo_sin_rcnt_tl                                 True
mort_acc                                       True
mths_since_recent_bc                           True
mths_since_recent_bc_dlq                       True
mths_since_recent_inq                          True
mths_since_recent_revol_delinq                 True
num_accts_ever_120_pd                          True
num_actv_bc_tl                                 True
num_actv_rev_tl                                True
num_bc_sats                                    True
num_bc_tl                                      True
num_il_tl                                      True
num_op_rev_tl                                  True
num_rev_accts                                  True
num_rev_tl_bal_gt_0                            True
num_sats                                       True
num_tl_120dpd_2m                               True
num_tl_30dpd                                   True
num_tl_90g_dpd_24m                             True
num_tl_op_past_12m                             True
pct_tl_nvr_dlq                                 True
percent_bc_gt_75                               True
pub_rec_bankruptcies                          False
tax_liens                                     False
tot_hi_cred_lim                                True
total_bal_ex_mort                              True
total_bc_limit                                 True
total_il_high_credit_limit                     True
revol_bal_joint                                True
sec_app_earliest_cr_line                       True
sec_app_inq_last_6mths                         True
sec_app_mort_acc                               True
sec_app_open_acc                               True
sec_app_revol_util                             True
sec_app_open_act_il                            True
sec_app_num_rev_accts                          True
sec_app_chargeoff_within_12_mths               True
sec_app_collections_12_mths_ex_med             True
sec_app_mths_since_last_major_derog            True
hardship_flag                                 False
hardship_type                                  True
hardship_reason                                True
hardship_status                                True
deferral_term                                  True
hardship_amount                                True
hardship_start_date                            True
hardship_end_date                              True
payment_plan_start_date                        True
hardship_length                                True
hardship_dpd                                   True
hardship_loan_status                           True
orig_projected_additional_accrued_interest     True
hardship_payoff_balance_amount                 True
hardship_last_payment_amount                   True
disbursement_method                           False
debt_settlement_flag                          False
debt_settlement_flag_date                     False
settlement_status                             False
settlement_date                               False
settlement_amount                             False
settlement_percentage                         False
settlement_term                               False
dtype: bool

## Drop columns that are not useful

One method would be to drop columns where

In [10]:
series_of_bool_indicating_whether_column_is_empty = loans_2007.isnull().sum()==loans_2007.shape[0]

for col_name, bool_value in series_of_bool_indicating_whether_column_is_empty.iteritems():
    if bool_value:
        loans_2007.drop([col_name],axis='columns',inplace=True)

In [11]:
loans_2007.shape

(42538, 64)

The original size was (42538, 145), so we deleted 81 columns.

Alternatively, we could have skipped the above analysis and use a direct method

In [12]:
loans_2007.dropna(how='all',inplace=True,axis='columns')

For each column, what is the ratio of rows with missing entries to total row count?

In [13]:
len(loans_2007) # returns number of rows in dataframe

42538

use the number of rows as the denominator to determine percentage of NaNs present

In [14]:
loans_2007.isnull().sum()/len(loans_2007)

id                            0.999929
loan_amnt                     0.000071
funded_amnt                   0.000071
funded_amnt_inv               0.000071
term                          0.000071
int_rate                      0.000071
installment                   0.000071
grade                         0.000071
sub_grade                     0.000071
emp_title                     0.061804
emp_length                    0.026212
home_ownership                0.000071
annual_inc                    0.000165
verification_status           0.000071
issue_d                       0.000071
loan_status                   0.000071
pymnt_plan                    0.000071
desc                          0.312568
purpose                       0.000071
title                         0.000376
zip_code                      0.000071
addr_state                    0.000071
dti                           0.000071
delinq_2yrs                   0.000752
earliest_cr_line              0.000752
inq_last_6mths                0.000752
mths_since_last_delinq        0.633058
mths_since_last_record        0.914171
open_acc                      0.000752
pub_rec                       0.000752
revol_bal                     0.000071
revol_util                    0.002186
total_acc                     0.000752
initial_list_status           0.000071
out_prncp                     0.000071
out_prncp_inv                 0.000071
total_pymnt                   0.000071
total_pymnt_inv               0.000071
total_rec_prncp               0.000071
total_rec_int                 0.000071
total_rec_late_fee            0.000071
recoveries                    0.000071
collection_recovery_fee       0.000071
last_pymnt_d                  0.002022
last_pymnt_amnt               0.000071
next_pymnt_d                  0.935375
last_credit_pull_d            0.000165
collections_12_mths_ex_med    0.003479
policy_code                   0.000071
application_type              0.000071
acc_now_delinq                0.000752
chargeoff_within_12_mths      0.003479
delinq_amnt                   0.000752
pub_rec_bankruptcies          0.032159
tax_liens                     0.002539
hardship_flag                 0.000071
disbursement_method           0.000071
debt_settlement_flag          0.000071
debt_settlement_flag_date     0.996239
settlement_status             0.996239
settlement_date               0.996239
settlement_amount             0.996239
settlement_percentage         0.996239
settlement_term               0.996239
dtype: float64

It would be better to view the series as a sorted sequence. 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_values.html

I wasn't aware of the existance of ".sorted_values()", but I figured it was a common task and <a href="https://www.google.com/search?q=pandas+sort+series">Google'd for the concept</a>.

The top of the series now has the column with the most NaN entries

In [15]:
(loans_2007.isnull().sum()/len(loans_2007)).sort_values(ascending=False)

id                            0.999929
settlement_status             0.996239
settlement_percentage         0.996239
debt_settlement_flag_date     0.996239
settlement_term               0.996239
settlement_date               0.996239
settlement_amount             0.996239
next_pymnt_d                  0.935375
mths_since_last_record        0.914171
mths_since_last_delinq        0.633058
desc                          0.312568
emp_title                     0.061804
pub_rec_bankruptcies          0.032159
emp_length                    0.026212
chargeoff_within_12_mths      0.003479
collections_12_mths_ex_med    0.003479
tax_liens                     0.002539
revol_util                    0.002186
last_pymnt_d                  0.002022
pub_rec                       0.000752
total_acc                     0.000752
delinq_amnt                   0.000752
delinq_2yrs                   0.000752
earliest_cr_line              0.000752
inq_last_6mths                0.000752
acc_now_delinq                0.000752
open_acc                      0.000752
title                         0.000376
annual_inc                    0.000165
last_credit_pull_d            0.000165
initial_list_status           0.000071
sub_grade                     0.000071
issue_d                       0.000071
verification_status           0.000071
collection_recovery_fee       0.000071
home_ownership                0.000071
hardship_flag                 0.000071
disbursement_method           0.000071
grade                         0.000071
out_prncp                     0.000071
installment                   0.000071
int_rate                      0.000071
term                          0.000071
funded_amnt_inv               0.000071
funded_amnt                   0.000071
loan_amnt                     0.000071
loan_status                   0.000071
pymnt_plan                    0.000071
recoveries                    0.000071
purpose                       0.000071
total_rec_late_fee            0.000071
zip_code                      0.000071
addr_state                    0.000071
last_pymnt_amnt               0.000071
total_rec_int                 0.000071
total_rec_prncp               0.000071
total_pymnt_inv               0.000071
total_pymnt                   0.000071
application_type              0.000071
out_prncp_inv                 0.000071
debt_settlement_flag          0.000071
revol_bal                     0.000071
policy_code                   0.000071
dti                           0.000071
dtype: float64

There are many columns that have 0.0071% of the entries containing NaN. How many rows is that?

In [16]:
loans_2007['total_rec_int'].isnull().sum()

3

The fact that many columns have the same number of NaNs is suspicious to me. To investigate, inspect those three rows, print the part of the dataframe that has NaNs for the column

In [17]:
loans_2007[loans_2007['total_rec_int'].isnull()]

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
39786,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To summarize what I'm seeing, for three rows there is text in one column.

Let's count how many NaNs are in the 'id' column:

In [18]:
loans_2007['id'].isnull().sum() # works because "True" is the same as "1"

42535

In [19]:
loans_2007.shape

(42538, 64)

The 'id' column is empty except for those three rows

My diagnosis is that the "id" column should not be part of the data analysis. 

The appropriate action would be to follow up with the person or team that supplied the data 

Before dropping the 'id' column and those three rows, let's validate that all other cells are NaN:

loans_2007['total_rec_int'].isnull() # which rows are null

In [20]:
loans_2007[loans_2007['total_rec_int'].isnull()].isnull()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
39786,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
42536,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
42537,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

count the number of "True" values in that subset of rows

In [21]:
loans_2007[loans_2007['total_rec_int'].isnull()].isnull().sum().sum()

189

how big is the rectangular dataframe?

In [22]:
loans_2007[loans_2007['total_rec_int'].isnull()].shape

(3, 64)

In [23]:
3*64

192

Out of the 192 cells associated with the three rows, 189 cells are empty. That means we can safely drop both the "id" column and the three rows

In [24]:
print('before:',loans_2007.shape)

loans_2007.drop(['id'],axis='columns',inplace=True)
loans_2007.dropna(how='all',axis='rows',inplace=True) # drop empty rows

print('after:',loans_2007.shape)

before: (42538, 64)
after: (42535, 63)

# drop all rows and columns where entire row or column is NaN
If we wanted to be quick, we could have dropped all rows and columns containing NaNs

To show this, reload the data

In [25]:
start_time = time.time()
loans_2007 = pandas.read_csv('LoanStats3a.csv', skiprows=1, low_memory=False)
print(time.time() - start_time,'seconds')
loans_2007.shape

9.040709733963013 seconds

(42538, 145)

In [26]:
print('before:',loans_2007.shape)

loans_2007.dropna(how='all',axis=0,inplace=True) # rows 
loans_2007.dropna(how='all',axis=1,inplace=True) # columns

print('after:',loans_2007.shape)

before: (42538, 145)
after: (42538, 64)

The value of not taking the quick approach is that we gain understanding of the input data

## Are there columns where all rows have the same value?

In [27]:
for this_column in loans_2007.columns:
    if (loans_2007[this_column].nunique()==1):
        print(this_column)

pymnt_plan
initial_list_status
out_prncp
out_prncp_inv
collections_12_mths_ex_med
policy_code
application_type
chargeoff_within_12_mths
hardship_flag
disbursement_method

These columns probably aren't going to yield much useful information

In [28]:
print('before:',loans_2007.shape)

for this_column in loans_2007.columns:
    if (loans_2007[this_column].nunique()==1):
        loans_2007.drop([this_column],axis=1,inplace=True)
        
print('after:',loans_2007.shape)

before: (42538, 64)
after: (42538, 54)

We can inspect the remaining columns

In [29]:
def uniq_per_col(df,count):
    for this_column in df.columns:
        print("==== ",this_column,"has",df[this_column].nunique(),"unique entries ====")
        print(df[this_column].value_counts().head(count))

In [30]:
uniq_per_col(loans_2007,5)

====  id has 3 unique entries ====
Total amount funded in policy code 1: 460296150    1
Loans that do not meet the credit policy           1
Total amount funded in policy code 2: 0            1
Name: id, dtype: int64
====  loan_amnt has 898 unique entries ====
10000.0    3016
12000.0    2439
5000.0     2260
6000.0     2037
15000.0    2012
Name: loan_amnt, dtype: int64
====  funded_amnt has 1051 unique entries ====
10000.0    2924
12000.0    2347
5000.0     2247
6000.0     2023
15000.0    1897
Name: funded_amnt, dtype: int64
====  funded_amnt_inv has 9248 unique entries ====
5000.0     1369
10000.0    1302
6000.0     1240
12000.0    1084
8000.0      929
Name: funded_amnt_inv, dtype: int64
====  term has 2 unique entries ====
 36 months    31534
 60 months    11001
Name: term, dtype: int64
====  int_rate has 394 unique entries ====
 10.99%    970
 11.49%    837
 13.49%    832
  7.51%    787
  7.88%    742
Name: int_rate, dtype: int64
====  installment has 16459 unique entries ====
311.11    68
180.96    59
311.02    54
150.80    48
368.45    46
Name: installment, dtype: int64
====  grade has 7 unique entries ====
B    12389
A    10183
C     8740
D     6016
E     3394
Name: grade, dtype: int64
====  sub_grade has 35 unique entries ====
B3    2997
A4    2905
B5    2807
A5    2793
B4    2590
Name: sub_grade, dtype: int64
====  emp_title has 30658 unique entries ====
US Army              139
Bank of America      115
IBM                   72
Kaiser Permanente     61
AT&T                  61
Name: emp_title, dtype: int64
====  emp_length has 11 unique entries ====
10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
Name: emp_length, dtype: int64
====  home_ownership has 5 unique entries ====
RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64
====  annual_inc has 5597 unique entries ====
60000.0    1591
50000.0    1119
40000.0     935
45000.0     898
30000.0     884
Name: annual_inc, dtype: int64
====  verification_status has 3 unique entries ====
Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64
====  issue_d has 55 unique entries ====
Dec-2011    2267
Nov-2011    2232
Oct-2011    2118
Sep-2011    2067
Aug-2011    1934
Name: issue_d, dtype: int64
====  loan_status has 4 unique entries ====
Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64
====  desc has 28963 unique entries ====
                      225
Debt Consolidation     11
Camping Membership      8
refinancing             5
consolidate debt        3
Name: desc, dtype: int64
====  purpose has 14 unique entries ====
debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
Name: purpose, dtype: int64
====  title has 21264 unique entries ====
Debt Consolidation         2259
Debt Consolidation Loan    1760
Personal Loan               708
Consolidation               547
debt consolidation          532
Name: title, dtype: int64
====  zip_code has 837 unique entries ====
100xx    649
945xx    559
606xx    548
112xx    538
070xx    503
Name: zip_code, dtype: int64
====  addr_state has 50 unique entries ====
CA    7429
NY    4065
FL    3104
TX    2915
NJ    1988
Name: addr_state, dtype: int64
====  dti has 2894 unique entries ====
0.0     206
12.0     54
10.0     46
18.0     46
19.2     45
Name: dti, dtype: int64
====  delinq_2yrs has 12 unique entries ====
0.0    37771
1.0     3595
2.0      771
3.0      244
4.0       72
Name: delinq_2yrs, dtype: int64
====  earliest_cr_line has 530 unique entries ====
Oct-1999    393
Nov-1998    390
Oct-2000    370
Dec-1998    366
Dec-1997    348
Name: earliest_cr_line, dtype: int64
====  inq_last_6mths has 28 unique entries ====
0.0    19657
1.0    11247
2.0     5987
3.0     3182
4.0     1056
Name: inq_last_6mths, dtype: int64
====  mths_since_last_delinq has 95 unique entries ====
0.0     821
30.0    270
23.0    266
19.0    266
15.0    263
Name: mths_since_last_delinq, dtype: int64
====  mths_since_last_record has 113 unique entries ====
0.0      1275
89.0       70
113.0      68
104.0      66
87.0       62
Name: mths_since_last_record, dtype: int64
====  open_acc has 44 unique entries ====
7.0     4252
8.0     4176
6.0     4172
9.0     3922
10.0    3386
Name: open_acc, dtype: int64
====  pub_rec has 6 unique entries ====
0.0    40130
1.0     2298
2.0       64
3.0       11
4.0        2
Name: pub_rec, dtype: int64
====  revol_bal has 22709 unique entries ====
0.0      1119
255.0      14
298.0      14
1.0        13
682.0      12
Name: revol_bal, dtype: int64
====  revol_util has 1119 unique entries ====
0%       1070
40.7%      65
0.2%       64
63%        63
66.6%      62
Name: revol_util, dtype: int64
====  total_acc has 83 unique entries ====
15.0    1552
16.0    1547
17.0    1543
14.0    1531
20.0    1504
Name: total_acc, dtype: int64
====  total_pymnt has 42364 unique entries ====
0.000000        19
90.000000        6
12029.450000     6
180.000000       4
11955.399214     3
Name: total_pymnt, dtype: int64
====  total_pymnt_inv has 40102 unique entries ====
0.00        297
6514.52      16
5478.39      14
13148.14     14
10956.78     12
Name: total_pymnt_inv, dtype: int64
====  total_rec_prncp has 7691 unique entries ====
10000.0    2432
12000.0    1958
5000.0     1861
6000.0     1752
15000.0    1529
Name: total_rec_prncp, dtype: int64
====  total_rec_int has 37462 unique entries ====
0.00       83
1196.57    26
514.52     19
1148.14    17
717.95     17
Name: total_rec_int, dtype: int64
====  total_rec_late_fee has 2299 unique entries ====
0.00     40145
15.00       69
30.00        8
45.00        3
15.79        2
Name: total_rec_late_fee, dtype: int64
====  recoveries has 5059 unique entries ====
0.00    36176
0.30       14
1.80       11
0.96       10
1.20       10
Name: recoveries, dtype: int64
====  collection_recovery_fee has 2898 unique entries ====
0.00    38206
2.00       15
1.20       11
1.60       10
1.55        9
Name: collection_recovery_fee, dtype: int64
====  last_pymnt_d has 112 unique entries ====
Mar-2013    1070
Dec-2014     949
May-2013     943
Feb-2013     906
Mar-2012     893
Name: last_pymnt_d, dtype: int64
====  last_pymnt_amnt has 37260 unique entries ====
0.0      96
200.0    19
100.0    17
50.0     17
150.0    13
Name: last_pymnt_amnt, dtype: int64
====  next_pymnt_d has 98 unique entries ====
Mar-2011    107
Apr-2011    101
Feb-2011     91
Jan-2011     79
May-2011     77
Name: next_pymnt_d, dtype: int64
====  last_credit_pull_d has 138 unique entries ====
Jan-2019    8800
Oct-2016    3955
Dec-2018     884
Aug-2018     876
Oct-2018     848
Name: last_credit_pull_d, dtype: int64
====  acc_now_delinq has 2 unique entries ====
0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64
====  delinq_amnt has 3 unique entries ====
0.0       42504
6053.0        1
27.0          1
Name: delinq_amnt, dtype: int64
====  pub_rec_bankruptcies has 3 unique entries ====
0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64
====  tax_liens has 2 unique entries ====
0.0    42429
1.0        1
Name: tax_liens, dtype: int64
====  debt_settlement_flag has 2 unique entries ====
N    42375
Y      160
Name: debt_settlement_flag, dtype: int64
====  debt_settlement_flag_date has 63 unique entries ====
Jun-2017    18
Apr-2017     7
Jan-2015     7
Sep-2015     6
Feb-2015     5
Name: debt_settlement_flag_date, dtype: int64
====  settlement_status has 3 unique entries ====
COMPLETE    143
BROKEN       14
ACTIVE        3
Name: settlement_status, dtype: int64
====  settlement_date has 61 unique entries ====
Oct-2013    8
Sep-2013    8
Jan-2015    8
Mar-2013    6
Jul-2014    6
Name: settlement_date, dtype: int64
====  settlement_amount has 143 unique entries ====
1800.0    3
6500.0    3
5000.0    3
8000.0    3
3300.0    2
Name: settlement_amount, dtype: int64
====  settlement_percentage has 124 unique entries ====
50.0    13
40.0     8
65.0     4
45.0     4
20.0     3
Name: settlement_percentage, dtype: int64
====  settlement_term has 12 unique entries ====
0.0     125
1.0      17
2.0       5
6.0       3
18.0      2
Name: settlement_term, dtype: int64