## from scratch (not recommended)

In [1]:
with open("sample.csv", 'r') as my_file:
    for line in my_file:
        print(line.rstrip())

Name, year, class, grade
Ming, 2013, Data 601, B
Imgb, 2015, Data 601, B
Rimgw, 2012, Data 601, A
Wemf, 2014, Data 602, C

Additional work would be needed to split each line on the comma

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

In [2]:
with open("sample.csv", 'r') as my_file:
    for line in my_file:
        print(line.rstrip().split(","))

['Name', ' year', ' class', ' grade']
['Ming', ' 2013', ' Data 601', ' B']
['Imgb', ' 2015', ' Data 601', ' B']
['Rimgw', ' 2012', ' Data 601', ' A']
['Wemf', ' 2014', ' Data 602', ' C']
['']

This manual approach can be dangerous because the formatting of the CSV may not be what you assume

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

## using csv module

In [3]:
import csv

In [4]:
with open("sample.csv", 'r') as my_file:
    reader = csv.reader(my_file,skipinitialspace=True)
    for row in reader:
        print(row)

['Name', 'year', 'class', 'grade']
['Ming', '2013', 'Data 601', 'B']
['Imgb', '2015', 'Data 601', 'B']
['Rimgw', '2012', 'Data 601', 'A']
['Wemf', '2014', 'Data 602', 'C']
[]

_Note_: automatically detected delimiter and split line into list; white spaces were left in

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

## using Pandas library

In [2]:
import pandas

In [6]:
dataframe = pandas.read_csv("sample.csv")

In [7]:
dataframe

    Name   year      class  grade
0   Ming   2013   Data 601      B
1   Imgb   2015   Data 601      B
2  Rimgw   2012   Data 601      A
3   Wemf   2014   Data 602      C

_Note_: automatically detected delimiter and the header and also indexed the rows

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

with pipes as delimiter rather than commas

In [8]:
with open("sample_pipe_separated.csv", 'r') as my_file:
    reader = csv.reader(my_file,delimiter='|')
    for row in reader:
        print(row)

['Month', 'count', 'location']
['Jan', '1332', 'here']
['June', '5,593', 'there']
['Feb', '953,24', 'everywhere, CA']
['Oct', '592', 'my home town, MD']

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

quote handling in a CSV

In [9]:
with open("sample_with_quotes.csv", 'r') as my_file:
    reader = csv.reader(my_file,quotechar='"',skipinitialspace=True)
    for row in reader:
        print(row)

['ID', 'last name', 'first name', 'tuition']
['058582', 'Potter, Jr', 'Harry', '$204']
['0485572', 'Weasley', 'Ron', '$958']
['592424', 'Granger', 'Hermione', '$422']
['472492', 'Diggory', 'Cedric', '$1,042']
['493824', 'Weasley', 'Fred', '$394']